apiVersion: v1
kind: ConfigMap
metadata:
  name: additional-scrape-configs
  namespace: monitoring
  labels:
    app.kubernetes.io/name: victoria-metrics-k8s-stack
    app.kubernetes.io/component: monitoring
data:
  additional-scrape-configs.yaml: |
    - job_name: "cilium-agent-additional"
      kubernetes_sd_configs:
        - role: pod
          namespaces:
            names:
              - kube-system
      relabel_configs:
        - source_labels: [__meta_kubernetes_pod_label_k8s_app]
          action: keep
          regex: cilium
        - source_labels: [__address__]
          action: replace
          regex: "(.+):(.+)"
          target_label: __address__
          replacement: "${1}:9965"
      scrape_interval: 30s
      scrape_timeout: 10s
