apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  annotations:
    # Cert-manager manifests depend on external-secrets CRDs being available
    flux.weave.works/depends-on: "external-secrets"
    kustomize.toolkit.fluxcd.io/timeout: "10m"

resources:
  - namespace.yaml
  - repository.yaml
  - release.yaml
  - manifests
