apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  annotations:
    # Cert-manager manifests depend on external-secrets CRDs being available
    flux.weave.works/depends-on: "external-secrets"
    kustomize.toolkit.fluxcd.io/timeout: "10m"

resources:
  # CRDs must be installed first to allow dry-run validation of Certificate, ClusterIssuer, etc.
  - crds
  - namespace.yaml
  - repository.yaml
  - release.yaml
  # Manifests depend on cert-manager CRDs being available
  - manifests
